<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>勞務報酬計算機</title>
    <link rel="icon" href="image/calculator.svg" type="image/x-icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css" type="text/css" />
</head>
<body>

    <section id="app">
        <h1>勞務報酬計算機</h1>
        <div class="grid-wrap">
            <div class="grid-item">含稅報價（支領金額）</div>
            <div class="grid-item">{{getTaxIncludedQuotation}}</div>
            <div class="grid-item">
                <label for="health_insurance_fare">健保費 1.91%</label>
                <input type="checkbox" id="health_insurance_fare" name="insurance" v-model="toggle">
            </div>
            <div class="grid-item">{{getHealthInsurance}}</div>
            <div class="grid-item">所得稅 10%（>20K）</div>
            <div class="grid-item">{{getIncomeTax}}</div>
            <div class="grid-item">最終實領（支領淨額）</div>
            <div class="grid-item">
                <input type="number" min="0" placeholder="請輸入金額" v-model="final_actual_collar">
            </div>
        </div>
    </section>

    <script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>